body {
    font-family: 'Open Sans', sans-serif;
}
/*
    Header:
Navigation container(logo+text, navigation bar, searching button)
Call-to-action container(title-description, 2 buttons-cta)
*/

.page-header {
    background-image: url("../images/cta-bg-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/*Navigation container*/
.navigation-container {
    height: 70px;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo+text*/
.header-logo-text {
    margin-left: 30px;
}
.logo-text {
    display: inline-block;
    margin: 0 0 0 25px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
/*navigation bar*/
.navbar-link {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.nav-margin {
    margin-left: 30px;
}
/*searching button*/
.search-btn {
    border: none;
    padding: 26px;
    background: #000000;
}
.header-icon {
    color: #FFFFFF;
}

/*Call-to-action container*/
.action-container {
    text-align: center;
    padding: 125px 0;
    background: rgba(0, 0, 0, 0.32);
}
/*Title description*/
.action-description {
    margin: 0 0 40px;
    font-size: 27px;
    color: #FFFFFF;
}
/*Buttons*/
.cta-btn-subscribe {
    padding: 15px 20px;
    background-color: #89CA62;
}
.cta-btn-articles {
    padding: 16px 30px;
    background-color: #14B9D5;
    margin-left: 20px;
}
.btn-text {
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}


    /*Popular posts, top rated, hot news title*/
.sections-title {
    margin: 0;
    padding: 50px 0;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
/*
    Section popular posts:
Title
Posts list(posts > posts images + text under image)
*/

.popular-posts-container {
    background: #F2F2F2;
}
/*Posts*/

.posts-list {
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.popular-margin-post {
    margin-left: 30px;
    margin-right: 30px;
}
.margin-top-post {
    margin-top: 30px;
}
/*text under image*/
.post-item-text {
    display: block;
    padding: 20px 0;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    text-align: center;
}

/*
    Section popular clients logo:
Popular clients title + pseudoelement
Clients logo list(client logo - image)
*/
.popular-clients-logo-container {
    background-image: url("../images/section-clients-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.0001);
    height: 598px;
    display: grid;
    justify-content: center;
}
/*Popular clients title*/
.popular-clients-title {
    margin: 0;
    padding-top: 200px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-clients-title::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin-top: 60px;
}

/*Clients logo list*/
.clients-logo-list {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-gap: 50px;
    padding-bottom: 100px;
}

/*
    Section top rated:
Title
Top-rated list(top-rated-item > image)
*/
.top-rated-container {
    background: #E5E5E5;
}
.top-rated-list {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
}

/*
    Section hot news:
Title
Hot news list > hotels blocks + their description (title + text)
*/
.hot-news-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 35px;
    padding: 0 18vw 70px;
}

/*Hotels blocks (items)*/
.hot-news-item {
    background: #F9F7F7;
}
.hot-news-emirates {
    grid-column: 1 / 4;
    display: flex;
}
/*.hot-news-nebula-spain {*/
/*}*/
.hot-news-egypt {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.hot-news-maldives {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}
.hot-news-tenerife {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}
.hot-news-britain {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}
/*.hot-news-ireland {*/
/*}*/
.hot-news-kings-spain {
    display: flex;
    grid-column: 2 / 5;
}

/*Description of the hotels*/
.hot-news-item-description {
    padding: 40px 25px;
    text-align: right;
}
.hot-news-title {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    margin: 0 0 20px;
}
.hot-news-item-text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    font-weight: 600;
}
.hot-news-img {
    width: 100%;
}
.huge-item-padding {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 15px;
}
.small-item-title {
    text-align: center;
    margin-top: 20px;
}

/*
    Footer:
Container > text + logo, logo-text
*/
.footer {
    height: 80px;
    background-color: black;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.footer-container-text {
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
}
.footer-container-logos {
    display: flex;
    align-items: flex-start;
}