body {
    font-family: "Ubuntu", sans-serif;
}
.background {
    background-image: url("../images/Фон 1.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;

}
.header {
    height: 59px;
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
}
/*Заголовок*/
.header-title {
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 87px;
    margin-top: 19px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}
.header-title:hover {
    color: #3CB878;
    cursor: default;
    transition: 0.3s;
}
/*Иконки + after*/
.icons-welcome {
    float: right;
    margin-right: 90px;
}
.icon {
    display: inline-block;
    background-image: url("../images/css_sprites.png");
    margin-top: 20px;
}
.icon-calendar {
    width: 20px;
    height: 20px;
    background-position: -10px -50px;
}
.icon-calendar:hover {
    width: 20px;
    height: 20px;
    background-position: -106px -50px;
}
.icon-forum {
    width: 28px;
    height: 20px;
    background-position: -10px -10px;
    margin-left: 28px;
}
.icon-forum:hover {
    width: 28px;
    height: 20px;
    background-position: -58px -10px;
}
.icon-journey {
    width: 20px;
    height: 20px;
    background-position: -50px -50px;
    margin-left: 28px;
    position: relative;
}
.icon-journey:hover {
    width: 20px;
    height: 20px;
    background-position: -106px -10px;
}
.icon:after {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    right: -28px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
/*Войти или зарегестрироваться*/
.welcome {
    display: inline-block;
    margin: 0 0 10px 56px;
    vertical-align: middle;
}
.welcome-description {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}
.span-green-welcome {
    color: #FFFFFF;
    margin-right: 9px;
}
.span-green-welcome:hover {
    color: #3CB878;
}
/*Секция с контейнером внутри*/
.sign-form {
    max-width: 444px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: -ms-flexbox;
    position: absolute;
    height: calc(100vh - 59px);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.container {
    padding: 30px 60px;
}
.sign-title {
    font-size: 20px;
    color: #434343;
    display: inline-block;
    position: relative;
    margin: 0;
}
.sign-title:before {
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -60px;
    top: 3px;
    content: "";
}
.login-title {
    float: right;
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    margin-top: 3px;
}
/*Кнопки ФБ и Гугл*/
.buttons {
    margin-top: 19px;
}
.button-fb {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #305DB8;
    display: inline-block;
    border: none;
}
.icon-bf {
    color: #FFFFFF;
    vertical-align: middle;
    position: relative;
}
.icon-bf::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    right: -17px;
    top: -7px;
}
.text-fb {
    float: right;
    margin: 0 20px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline-block;
}

.button-google {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #DF4A32;
    display: inline-block;
    border: none;
}
.icon-google {
    color: #FFFFFF;
    vertical-align: middle;
    position: relative;
}
.icon-google::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    right: -12px;
    top: -7px;
}
.text-google {
    float: right;
    margin: 0 30px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    display: inline-block;
}
/*Текст с линиями по центру перед формой*/
.pseudo-lines {
    margin: 21px 0 ;
    font-size: 14px;
    color: #848484;
    text-align: center;
    position: relative;
}
.pseudo-lines::before {
     position: absolute;
     content: "";
     width: 141px;
     height: 1px;
     background: rgba(0, 0, 0, 0.1);
     top: 8px;
     left: 0;
 }
.pseudo-lines::after {
    position: absolute;
    content: "";
    width: 141px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 0;
}

/*Форма*/
input {
    border: none;
}
.input-information {
    width: 304px;
    height: 46px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #434343;
    padding-left: 18px;
    outline: none;
    transition: 0.2s;
}
.input-information:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transform: translate(3px);
}
.margin-checkbox {
    margin-bottom: 22px;
}
/*Checkbox*/
.link-agree {
    text-decoration: none;
    color: #3CB878;
    cursor: default;
}
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    color: #434343;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkbox:checked + .checkmark{
    background-color: white;
}
.checkmark:before{
    content: "";
    position: absolute;
    display: none;
    width: 7px;
    height: 14px;
    left: 6px;
    top: 0;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox:checked + .checkmark:before{
    display: block;
}
/*Submit*/
.create-button {
    display: block;
    width: 322px;
    height: 46px;
    background: #3CB878;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 28px;
}
