.image {
    width: 400px;
    height: 400px;
    display: none;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: flex;
}


.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
