.container {
    width: 1280px;
    margin: 0 auto;
}
.header-title {
    font-size: 60px;
    display: inline-block;
    margin: 60px 0 38px 98px;
    font-family: Calibri;
    text-decoration: none;
    color: #000000;
}
.blue-span {
    margin-left: 0;
    margin-right: 0;
    color: aqua;
    display: inline;
}
.navbar {
    border: 1px solid #35444F;
    background-color: #35444F;
    display: block;
    margin: 0 99px 50px 98px;
    text-align: center;
}
.navbar-links {
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 25px 36px;
    cursor: default;
}
.navbar-links:hover {
    background-color: #222F3A;
    text-decoration: none;
    color: #FFFFFF;
}

.left {
    display: inline-block;
    height: 770px;
}

.table-left {
    vertical-align: top;
    list-style-type: none;
    border: 1px solid #485863;
    display: inline-block;
    margin: 0 50px 0 100px;
    padding-left: 0;
    width: 320px;
}
.table-left-links {
    display: block;
    font-size: 20px;
    color: #485863;
    text-decoration: none;
    cursor: default;
    padding: 20px 0 16px 42px;
}
.table-left-links:hover{
    text-decoration: none;
    color: #35444F;
    background-color: #DBDBDB;
    padding-left: 84px;
}

.right {
    display: inline-block;
    width: 700px;
    vertical-align: top;
}
.picture-right {
    display: inline-block;
    width: 705px;
    vertical-align: top;
    border: 1px solid #485863;
    margin-bottom: 42px;
    overflow: hidden;
}
.picture-right-image {
    display: block;
    margin: 75px auto;
    transition: 1s;
}
.picture-right-image:hover {
    transform: scale(1.3);
}
.paragraphs-under-img {
    display: inline-block;
    font-size: 18px;
    color: #2C2C2C;
}
.paragraph {
    display: inline-block;
}

.paragraph-2 {
    margin-top: 22px;
}

.footer {
    padding: 20px;
    background: rgba(99, 105, 110, 0.48);
    margin: 54px 100px 30px;
}

.footer-left {
    display: inline-block;
}
.text-decoration {
    text-decoration: none;
    color: #0C1927;
    padding-left: 40px;
    cursor: default;
}
.text-decoration:hover {
    text-decoration: none;
    color: aquamarine;
}
.footer-right {
    display: inline-block;
    float: right;
    margin-left: 100px;
}
