.top {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-align {
    text-align: center;
}
.font-family {
    font-family: Arial;
}
.home {
    text-decoration: none;
    color: #FF0000;
    margin-right: 58px;
}
.photoapp {
    text-decoration: none;
    color: #FF0000;
    margin-right: 58px;
}
.design {
    text-decoration: none;
    color: #FF0000;
    margin-right: 58px;
}
.down {
    text-decoration: none;
    color: #FF0000;
}
.image {
    width: 100%;
    margin-bottom: 20px;
}
.h1 {
    font-size: 24px;
    margin-bottom: 42px;
    color: #373737;
}
.text {
    font-size: 16px;
    display: inline-block;
    padding: 0 70px 0 70px;
    color: #373737;
    margin-bottom: 75px;
}
.par1 {
    margin-bottom: 38px;
}
.par2 {
    margin-bottom: 0;
}
.button {
    font-size: 14px;
    margin: 0 auto;
    background-color: #FF0000;
    color: white;
    border: #FF0000 solid 1px;
    display: block;
    padding: 17px 45px 17px 45px;
}
.footer {
    margin-top: 75px;
    font-size: 18px;
    color: #373737;
    display: inline-block;
    margin-left: 940px;
    margin-bottom: 65px;
}