body {
    font-family: 'Arimo', sans-serif;
}
.background {
    width: 100vw;
    height: 100vh;
    background: #3A4965;
}
.table-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.table {
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
td {
    border-right: 1px solid rgba(0,0,0,0.35);
    border-left: 1px solid rgba(0,0,0,0.35);
}
/*Background colors(features/buttons)*/
.bg-green {
    background: #89C331;
}
.bg-pink {
    background: #F04A56;
}
.bg-blue {
    background: #20807C;
}
/*Table header*/
.table-header {
    font-weight: bold;
    background: #FAFAFA;
}
.thead-title {
    width: 313px;
    height: 159px;
    font-size: 18px;
}
.font-size-plan {
    font-size: 30px;
    margin: 0;
}
.thead-feature {
    width: 280px;
    height: 73px;
    color: white;
    font-size: 24px;
}
.thead-price {
    font-size: 60px;
    position: relative;
    text-align: left;
    padding-top: 34px;
    padding-left: 35px;
}
.cents {
    position: absolute;
    font-size: 24px;
    right: 0;
    top: 28px;
    margin: 0;
    padding-right: 35px;
}
.cents-text {
    font-size: 18px;
    font-weight: normal;
    display: block;
}

/*Table body*/
.table-body {
    font-size: 16px;

}
/*Background body colors*/
.bg-light-gray {
    background: #F2F2F2;
}
.bg-grey {
    background: #E3E3E3;
}
/*Body cells*/
.tbody-item-cells {
    width: 313px;
    height: 72px;
}
.icon {
    color: #848484;
}
/*Table footer*/
button {
    border: none;
}
.footer-button-contact {
    background: #DDDDDD;
    padding: 29px 57px;
}
.button-style {
    padding: 15px 31px 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}
.button-contact {
    background: #484848;
    border-bottom: 8px solid #404040;
}
.footer-button-green {
    background: #EEEEEE;
}
.button-green {
    border-bottom: 8px solid #79B027;
}
.footer-button-pink {
    background: #F4F4F4;
}
.button-pink {
    border-bottom: 8px solid #DF3A46;
}
.footer-button-blue {
    background: #EEEEEE;
}
.button-blue {
    border-bottom: 8px solid #16736F;
}