
.price-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-text {
    width: 300px;
    height: 40px;
    padding-left: 20px;
}
.input-text:focus {
    outline: 2px solid green;
}

.current-price {
    font-size: 20px;
    color: darkgreen;
}

.warning-text {
    font-size: 20px;
    color: red;
}

.clear-button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border-color: greenyellow;
    background-color: darkgreen;
    margin-left: 10px;
    padding-right: 14px;
    color: greenyellow;
}