body {
    font-family: sans-serif
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: bold;
}
.speech-parent {
    perspective: 120px;
    height: 100vh;
    width: 100vw;
    perspective-origin: center;
    background-color: black;
    color: gold;
    overflow: hidden;
}
.speech-wrap {
    transform: rotate3d(1,0,0,30deg) translate3d(0,0,-100px);
}
.speech {
    transform: translate(0,140%);
    animation: play 30s infinite;
}
.title {
    font-size: 90px;
    text-align: center;
}
.speech-text {
    padding: 5% 0;
    font-size: 90px;
}

@keyframes play {
    0% {
        transform: translate(0,100%);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(0,-100%);
        opacity: 0;
    }
}
