body {
    font-family: "Roboto", sans-serif;
}
.background-photo {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
.header {
    margin-bottom: 50px;
}
/*Логотип фото и текста*/
.logo-photo-text {
    margin-top: 49px;
    margin-left: 155px;
    display: inline-block;
    cursor: default;
    text-decoration: none;
}
.logo-photo-text:hover img {
    content: url("../images/logo 2.png");
}
.logo-photo-text:hover p {
    color: #F26522;
}
.logo-photo-text:hover span {
    color: #F26522;
}
.logo-text {
    margin-left: 15px;
    display: inline-block;
}
.logo-text-milan {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    margin: 0;
}
.logo-text-holidays {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
/*Почта и номер телефона*/
.contacts {
    float: right;
    margin-right: 147px;
    margin-top: 58px;
}
.contacts-items {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    display: block;
}
.phone-margin {
    margin-top: 17px;
    margin-left: 74px;
}
/*Туры*/
.tours {
    margin: 0 auto;
    width: 87%;
}
.tour-block {
    background-repeat: no-repeat;
    width: 307px;
    height: 200px;
    margin-left: 69px;
    margin-bottom: 98px;
    float: left;
    text-align: center;
    position: relative;
}
.border {
    border: 3px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF, #000000);
    border-image-slice: 1;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: grid;
}
.tour-text {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    display: inline-block;
    padding-top: 18px;
}
/*Футер*/
footer {
    text-align: center;
}
.rights {
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 auto 15px;
    overflow: hidden;
    display: inline-block;
}
/*Ховеру каждого блока(цена)*/

.hidden-tour-block {
    position: absolute;
    width: 310px;
    height: 63px;
    background: #F26522;
    cursor: default;
    bottom: -20px;
    opacity: 0;
    transition: 1s ease bottom;
}
.tour-block:hover .hidden-tour-block {
    bottom: 0;
    overflow: hidden;
    opacity: 1;
}
.tour-block:hover .tour-text {
    color: #F26522;
}
.hidden-tour-block-text {
    margin-left: 20px;
    float: left;
}
.hidden-text-from {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 10px;
}
.hidden-price {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
.details {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 120px;
}
.details::after {
    content: url("../images/Vector 1.png");
    padding-left: 23px;
}

