.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn{
    margin-top: 24px;
    width: 150px;
}

.password-confirm {
    display: inherit;
    color: red;
    font-size: 12px;
    margin: 7px auto 0 145px;
}

#input-password-confirm{
    margin-bottom: 0;
}