body {
    font-family: 'Montserrat', sans-serif;

}
a {
    text-decoration: none;
}
/*Main containers/sections features*/
.max-width-container {
    width: 100vw;
    max-width: 1160px;
    margin: 0 auto;
}

.sections-padding-bottom {
    padding-bottom: 90px;
}

.install-ad-container-wrapper {
    background-color:rgba(0,0,0,.8);
}

/*Main titles of sections*/
.section-title {
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    padding-top: 90px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.section-title:after {
    content: "";
    position: absolute;
    top: 150px;
    width: 78px;
    height: 1px;
    background-color: #18CFAB;
}
.section-title:before {
    content: "";
    position: absolute;
    top: 155px;
    left: 48%;
    width: 78px;
    height: 1px;
    background-color: #18CFAB;
}

/*Colors*/
.turquoise-color {
    color: #18CFAB;
}
.turquoise-color-bg{
    background-color: #18CFAB;
}
.aqua-color-bg {
    background-color: #00CBF6;
}

/*Buttons (purchase, explore) */
.button {
    width: 169px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    /*box-shadow: 0 0 5px #FFFFFF;*/
    border-top: 3px solid #FFFFFF;
    border-left: none;
    border-bottom: none;
    border-right: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}


/*  Section header:
- Navigation menu (logo, text, menu links, searching svg)
- Title slogans container (h3, h1 - greatest, h4)
- Buttons container
*/

.header-page-section {
    background-image: url("../images/section-1(header).jpg");
    background-size: cover;
    background-attachment: fixed;
}

/*Navigation menu*/
.header-container {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
}

.logo-hexagon {
    margin: 0;
    width: 58px;
    height: 35px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-hexagon::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    left: 0;
    border-left: 28px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid;
    color: #18CFAB;
}
.logo-hexagon::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -21px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 30px solid transparent;
    border-top: 21px solid;
    color: #18CFAB;
}

.logo-text {
    margin: 0 0 0 5px;
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.logo-bold-text {
    font-weight: bold;
}

.header-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.menu-link {
    margin-right: 20px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
.menu-link:hover {
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}

.searching-link {
    margin-right: 20px;
    vertical-align: middle;
}

/*Title slogans + buttons container*/
.header-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 250px 0;
}

/*Titles container*/
.header-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-titles {
    margin: 0 0 20px 0;
}
.h3-title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.h1-title {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.h4-title {
    font-weight: normal;
    font-size: 34px;
    color: #D4D4D4;
}

/*Buttons container*/
.header-buttons-container {
    margin-top: 115px;
}
#header-btn-1 {
    margin-right: 25px;
}



/*  Section 4-blocks and their characteristics:
- Blocks containers (icon, characteristic text)
*/
.blocks-characteristic-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 5px solid #FFFFFF;
}


/*Blocks containers*/
.characteristics-block-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 100px 0;
}

.characteristics-block-container:nth-child(odd) {
    background-color: #1C2A33;
    margin: 0;
}
.characteristics-block-container:nth-child(even) {
    color: #FFFFFF;
}

.bg-tap_characteristic_icon {
    width: 58px; height: 98px;
    background: url('../images/css_sprites.png') -242px -10px;
}
.bg-diamond_characteristic_icon {
    width: 93px; height: 76px;
    background: url('../images/css_sprites.png') -129px -10px;
}
.bg-light_characteristic_icon {
    width: 60px; height: 97px;
    background: url('../images/css_sprites.png') -10px -107px;
}
.bg-devices_characteristic_icon {
    width: 99px; height: 77px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.block-characteristic-text {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 50px;
    margin: 0;
}



/*  Section of services:
- Title + pseudoelements
- Title tabs list (tabs title, "active")
- Tabs content list (img, content text)
*/

ul {
    list-style-type: none;
    padding-left: 0;
}

/*Title tabs list*/
.services-titles-list {
    margin: 0 0 25px;
    cursor: pointer;
    display: flex;
}
.services-title-tab {
    width: calc(1160px/6);
    padding: 30px 30px 20px;
    display: flex;
    justify-content: center;

    font-weight: normal;
    font-size: 15px;
    color: #717171;
    cursor: pointer;

    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}
.services-title-tab:hover {
    border: 1px solid #18CFAB;
}
.services-title-tab.services-active-title-tab {
    border: none;
    color: #FFFFFF;
    background-color: #18CFAB;
    position: relative;

    display: grid;
    justify-content: center;
    justify-items: center;
}
.services-active-title-tab::after {
    content: "";
    /*position: absolute;*/
    transform: translate(0, 30px);
    width: 0;
    height: 0;
    left: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid;
    color: #18CFAB;
}

/*Tabs content list*/
.services-tab-content-container {
    display: flex;
}
.services-tab-content-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 15px;
    color: #777777;
}



/*  Section of install ad:
- Advert slogan
- Advert slogan description
- Purchase button
*/

.install-advert-section {
    background-image: url("../images/section-2(install-ad).jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Install-ad content*/
.install-advert-container {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.install-advert-slogan {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.install-advert-slogan-description {
    margin: 20px 0 70px;
    font-weight: normal;
    font-size: 16px;
    color: #D8D8D8;
}



/*  Section of amazing work:
- Title + pseudoelements
- Title tabs list (tabs title, "active")
- Tabs content list (img, content text)*/

.amazing-work-section {
    background: #E9EDEF;
}
.amazing-work-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work-content-list-container {
    margin-bottom: 70px;
}


.work-title-tab {
    padding: 20px 15px;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}
.work-active-title-tab {
    padding: 20px 30px;
    border: 1px solid #18CFAB;
}

/*JS amazingWork*/
.amazing-work-photo-container {
    position: relative;
}

.amazing-work-photo-img {
    width: 285px;
    height: 211px;
}
.hidden-hover {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.amazing-work-photo-container:hover .hidden-hover {
    z-index: 0;
    animation-name: photoHover;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-out;
}
.amazing-work-photo-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
}
@keyframes photoHover {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.amazing-work-hover-icons-container {
    margin-bottom: 20px;
}
.work-photo-hover-icon {
    border-radius: 30px;
    padding: 12px;
    font-size: 12px;
    border: 2px solid #18CFAB;
}
.work-photo-hover-icon:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.amazing-work-photo-hover-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.amazing-work-photo-hover-description {
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
}

/*Ul li -> photos*/
.work-content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*amazingWorkButton style*/
#load-work-btn {
    border: none;
}
.amazing-button-icon {
    color: #FFFFFF;
    font-size: 20px;
    transform: rotate(45deg);
    padding-right: 15px;
    vertical-align: middle;
    padding-top: 10px;
}


/*  Section of breaking news:
- Title + pseudoelements
- Posts links (img, div.post-date, post description, )
- Tabs content list (img, content text)*/

.breaking-news-container {
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
}
.breaking-post {
    position: relative;
}
.breaking-post:hover .breaking-post-date {
    background: #18CFAB;
}
.breaking-post:hover .breaking-post-description {
    color: #18CFAB;
}
.breaking-post-description-container {
    padding: 15px 0 15px 15px;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.breaking-post-date {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: #203E38;
    text-align: center;
    width: 70px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}
.photo-date {
    margin: 0 0 15px;
}
.photo-month {
    margin: 0;
}

.breaking-post-description {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 18px;
    color: #717171;
}
.photo-author {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
    display: inline;
    padding-right: 40px;
    position: relative;
}
p.photo-author::after {
    content: "";
    width: 1px;
    height: 17px;
    position: absolute;
    right: 18px;
    background-color: #777777;
    opacity: 0.5;
}



/*  Section of clients comments:
- Title + pseudoelements, color:white
- Current client comment (backticks, text, employee, speciality, employee-photo)
- Clients carousel (previous btn, carousel employees list > employee-photo, next btn)*/

/*Current client comment*/
.clients-comments-section {
    background-image: url("../images/section-3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.clients-container-wrapper {
    background-color: rgba(0,0,0,.4);
}
.clients-comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients-white-title {
    color: #FFFFFF;
}

.clients-content-list {
    text-align: center;
    margin-bottom: 55px;
}
.hidden-content-item {
    display: none
}


/*Classes for JS */
.active-carousel-item {
    transform: translateY(-15px);
    transition: all 0.2s linear;
}


.content-item-margin {
    margin-top: 0;
    margin-bottom: 35px;
}

.clients-content-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}
.clients-content-employee {
    font-weight: bold;
    font-size: 16px;
}
.clients-content-speciality {
    font-size: 14px;
    color: #BBBBBB;
}
.clients-content-img {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
}

/*Clients carousel*/

.clients-carousel-container {
    display: flex;
}
.clients-carousel-list {
    display: flex;
    flex-direction: row;
    margin: 0 35px;
}

.clients-carousel-item {
    cursor: pointer;
}
.clients-carousel-item:nth-child(1) {
    margin-right: 30px;
}
.clients-carousel-item:nth-child(2) {
    margin-right: 30px;
}
.clients-carousel-item:nth-child(3) {
    margin-right: 30px;
}

.clients-carousel-img {
    width: 62px;
    height: 61px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
}
.carousel-btn{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    outline: none;
    cursor: pointer;

    align-self: center;
}
.carousel-btn:hover {
    background: #18CFAB;
}



/*Footer*/
.footer-page {
    height: 121px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
    display: inline;
    padding-right: 20px;
    position: relative;
}
p.copyright::after {
    content: "";
    width: 1px;
    height: 17px;
    position: absolute;
    right: 10px;
    background-color: #777777;
    opacity: 0.5;
}
